# virtual environment
**/venv
**/.env

# jupyter
**/*.ipynb

# cache
**/__pycache__
**/.pytest_cache
**/.ruff_cache

# storage bucket/datafiles
**/*.xlsx
**/*.csv

# trained models and predictions
**/models
**/predictions
